.errors{
  position: static;
  width: 90%;
  padding: 0.5% 5% 1% 5%;
  background: #F26444;
  color: white;
  font-family: "Subdex";
}

.errors_name{
  margin-top: 0.5%;
  display: inline-block;
  font-weight: bold;
  margin-right: 1%;
}

#close_errors{
  /* display: inline-block; */
  float: right;
  font-weight: bold;
  font-size: 1.5em;
}