@font-face {
  font-family: "Subdex";
  src: url("../fonts/JetBrains.ttf");
}

body{
  background: white;
  color: #0D0D0D;
  margin: 0;
  padding: 0;
  font-family: "Subdex";
}

header{
  width: 96%;
  height: 8%;
  margin: 0;
  background: #0D0D0D;
  padding: 0.5% 2% 0.5% 2%;
  margin-bottom: 2%;
}

header .logo{
  margin-top: 0.5%;
  color: white;
  float: left;
  font-family: "Subdex";
  font-size: 2em;
}

header .main_menu li{
  display: inline;
  margin-right: 5%;
  padding-bottom: 0.5%;
}

header .main_menu li a{
  text-decoration: none;
  color: white;
}

header .main_menu li.selected{
  border-bottom: 1px solid #F6F4E1;
}

header .main_menu li.selected a,
header .main_menu li a:active,
header .main_menu li a:hover{
  color: #F6F4E1;
  /* color: white;
  padding: 1% 2% 1% 2%;
  border-radius: 2px;
  background: #1FA88C; */
}

header .main_menu{
  font-family: "Subdex";
  font-size: 1em;
  list-style-type: none;
  text-align: right;
  font-weight: bold;
}

div.top_servers{
  min-height: 69%;
  display: inline-block;
  width: 15%;
  padding: 2%;
}

div.top_servers_left{
  float: left;
}

div.top_servers_right{
  float: right;
}

div.top_servers .server{
  margin-top: 20%;
  width: 100%;
  /*height: 25%;*/
  text-align: center;
  background: #EBF0F2;
  border-radius: 3px;
  padding: 2% 2% 2% 2%;
  box-shadow: 0px 0px 30px -2px rgba(0,0,0,0.3);
}

div.top_servers .server .server_img{
  width: 100%;
  height: 15%;
  background: #D5D7D6;
  border-radius: 2px;
}

div.top_servers .server .server_name{
  display: block;
  margin-top: 5%;
}

div.top_servers .server .server_capacity{
  text-decoration: none;
  color: #0D0D0D;
  font-family: "Subdex";
  font-size: 0.8em;
  float: right;
  margin-top: 1%;
  margin-right: 5%;
}

div.top_servers .server .server_name a{
  text-decoration: none;
  color: #0D0D0D;
  font-family: "Subdex";
  font-size: 0.8em;
}

div.top_servers .server .server_ip{
  display: inline-block;
  margin: 5% 0;
  color: #0D0D0D;
  font-family: "Subdex";
  font-size: 0.8em;
  text-decoration: underline;
}

div.monitoring_table, div.main_block{
  float: left;
  text-align: center;
  width: 77%;
  padding: 2%;
}

div.monitoring_table table{
  position: relative;
  display: inline-block;
  width: 100%;
  color: #0D0D0D;
  font-family: "Subdex";
  border-collapse: collapse;
  background: #fbfaf6;
  font-size: 0.75em;
}

div.monitoring_table table td{
  padding: 1% 1% 1% 1%;
  text-align: center;
  border: 1px dotted #1FA88C;
}

div.monitoring_table tr:first-child td{
  width: auto;
  border: 1px solid #1FA88C;
  padding: 1% 1%;
  /* border-bottom: 5px solid #024873; */
}

div.monitoring_table tr:nth-child(1){
  background: #1FA88C;
  color: white;
  font-weight: bold;
}

div.monitoring_table td:nth-child(2){
  text-align: left;
}

footer{
  display: inline-block;
  height: 10%;
  width: 100%;
  background: #F2F2F2;
  box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.2);
  /* bottom: 0; */
}

header button{
  padding: 0.5% 2% 0.5% 2%;
  background: white;
  float: right;
  margin-top: 1%;
  color: #0D0D0D;
  border: 0;
  font-weight: bold;
  border-radius: 2px;
  font-family: "Subdex";
  font-size: 1em;
  margin-left: 2%
}

header button:active,
header button:hover{
  color: white;
  background: #1FA88C;
}

.monitoring_pages{
  display: inline-block;
}

.monitoring_pages li{
  list-style: none;
  display: inline-block;
}

.monitoring_pages li a{
  color: #0D0D0D;
}

.monitoring_pages li a.selected{
  color: #D5D7D6;
}

/* 1FA88C
D5D7D6 - grey */
