{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link href="{% static "css/general.css" %}" rel="stylesheet" type="text/css">
  </head>
  <body>

    <header>

      <span class="logo">GAME MONITORING</span>

      <a href="signup"><button>Регистрация</button></a>

      <a href="signin"><button>Вход</button></a>

      <ul class="main_menu">

        <li class="{{ selected_monitoring }}"><a href="/">Сервера CSS v34</a></li>
        <li class="{{ selected_add_server }}"><a href="add_server">Добавить сервер</a></li>
        <li class="{{ selected_fqr }}"><a href="fqr">FQR</a></li>

      </ul>

    </header>


    <h1 style="text-align: center; font-size: 10em;">404</h1>

  </body>
</html>
