<div class="main_block">

  {% if server_added %}
      <h1>Сервер успешно добавлен!</h1>
  {% else %}
      <form class="login" method="post" action="{% url 'add_server' %}">
        <h1>Добавить сервер</h1>
          {% csrf_token %}
        <input type="text" placeholder="ip" name="ip" maxlength="15">
        <input type="text" placeholder="port" name="port" maxlength="5">
        <input type="submit" value="Добавить">
      </form>
  {% endif %}

</div>
