 <div class="main_block_place_table">

      <table class="place_table">

          <tr>
            <td style="width: 5%"></td>
            <td style="width: 15%"></td>
            <td style="width: 30%">Цена</td>
            <td style="width: 50%">Период</td>
          </tr>

          {% for pos, name_pos, price, end_last_order in data_table %}

                <script>
                    d1 = new Date();
                    d2 = new Date({{ end_last_order }});

                    if (d1.getTime() < d2.getTime()) {
                        d1 = d2;
                    }

                  $( function() {

                    var dateFormat = "mm/dd/yy",
                      from = $( "#{{ pos }}_from" )
                        .datepicker({
                          minDate: d1,
                          changeMonth: true,
                          numberOfMonths: 3,
                        })
                        .on( "change", function() {
                          to.datepicker( "option", "minDate", getDate(this));
                        }),
                      to = $( "#{{ pos }}_to" ).datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 3
                      })
                      .on( "change", function() {
                        from.datepicker( "option", "maxDate", getDate( this ) );
                      });

                    function getDate( element ) {
                      var date;
                      try {
                        date = $.datepicker.parseDate( dateFormat, element.value );
                      } catch( error ) {
                        date = null;
                      }

                      return date;
                    }
                  } );
                  </script>

              <tr>
                <td><input type="checkbox" id="buy_{{ pos }}"></td>
                <td>{{ name_pos }}</td>
                <td><span class="price">{{ price }}</span> руб/день </td>
                <td>
                    <label for="from">От</label>
                    <input type="text" id="{{ pos }}_from" name="from">
                    <label for="to">по</label>
                    <input type="text" id="{{ pos }}_to" name="to">
                </td>
              </tr>

              <script type="text/javascript">

                $("#buy_{{ pos }}").on("click", function(event){

                    if ($(this)[0].checked){
                        $("#check_list").append("<tr><td>1</td><td></td><td></td></tr>");
                    }else{

                    }
                });
              </script>
          {% endfor %}


      </table>

    <table class="check_list" id="check_list">
        <tr>
            <td colspan="3">Итоговый чек</td>
        </tr>
{#        <tr>#}
{#            <td>Имя товара</td>#}
{#            <td>Период (дни)</td>#}
{#            <td>Стоимость</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>Имя товара</td>#}
{#            <td>Период (дни)</td>#}
{#            <td>xxx руб</td>#}
{#        </tr>#}


    </table>

    <table class="check_list total_sum">
        <tr>
            <td colspan="2"><b>Итог</b></td>
            <td><b>0 руб</b></td>
        </tr>
    </table>

    <div class="pay_block">
        <form>
            <div class="agree_checkbox"><input type="checkbox"> Я принимаю <a href="">условия</a></div> <br>
            <input type="email" placeholder="e-mail">
            <input type="submit" value="Оплатить">
        </form>
    </div>

</div>