{% if errors and errors|length > 0 %}

    <div class="errors">

      <span id="close_errors">&times;</span>

        {%  for a,b in errors.items %}
            <span class="errors_name">{{a}}:</span>
            {% for i in b %}
                <span class="errors_test">{{ i }}</span><br>
            {% endfor %}
        {% endfor %}

    </div>

{% endif %}