{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ Title }}</title>
    <link href="{% static "css/general.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/login.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/errors.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/profile.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/buy_place.css" %}" rel="stylesheet" type="text/css">
    <script
        src="http://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  </head>
  <body>

  {{ id }}

  {% include "errors.html" %}

    <header>

      <span class="logo">GAME MONITORING</span>

{#        {% if user.is_authenticated %}#}
{##}
{#        <div class="top_profile">#}
{#            <div class="profile_img"><img style="height: 100%" src="{% static "img/default_avatar.png" %}"></div>#}
{#            <div id="top_profile_name"><span>zile</span></div>#}
{#          </div>#}
{##}
{#          <div class="top_profile_menu" style="display:none">#}
{#            Зашел(а) как#}
{#              <b>{{ user.username }}</b>#}
{#            <ul>#}
{#              <li><a href="{% url 'profile' user.id %}">Мой профель</a></li>#}
{#              <li><a href="profile_servers">Мои сервера</a></li>#}
{#              <li><a href="profile_bills">Мои счета</a></li>#}
{#              <li><a href="{% url "sign_out" %}">Выход</a></li>#}
{#            </ul>#}
{#          </div>#}
{##}
{#        {% else %}#}
{##}
{#          <a href="{% url "sign_up" %}"><button>Регистрация</button></a>#}
{##}
{#          <a href="{% url "sign_in" %}"><button>Вход</button></a>#}
{##}
{#        {% endif %}#}

      <ul class="main_menu">

        <li class="{{ selected_monitoring }}"><a href="/">Сервера CSS v34</a></li>
        <li class="{{ selected_add_server }}"><a href="{% url 'add_server' %}">Добавить сервер</a></li>
        <li class="{{ selected_buy_place }}"><a href="{% url 'buy_place' %}">Купить место</a></li>
        <li class="{{ selected_fqr }}"><a href="fqr">FQR</a></li>

      </ul>

    </header>

{#    <div class="top_servers top_servers_left">#}
{##}
{#      <div class="server">#}
{#        <div class="server_img"></div>#}
{#        <span class="server_name"><a href="">Server top</a>  <span class="server_ip">12.345.43.123</span></span>#}
{#        <span class="server_capacity">20/39</span>#}
{#      </div>#}
{#      <div class="server">#}
{#        <div class="server_img"></div>#}
{#        <span class="server_name"><a href="">Server top</a>: <span class="server_ip">12.345.43.123</span></span>#}
{#      </div>#}
{#      <div class="server">#}
{#        <div class="server_img"></div>#}
{#        <span class="server_name"><a href="">Server top</a>: <span class="server_ip">12.345.43.123</span></span>#}
{#      </div>#}
{##}
{#    </div>#}

    {% if Title == constance.SITE_MONITORING_CSS_V_34_NAME %}

        {% include "monitoring_table.html" %}

    {% elif Title == constance.SITE_SIGN_IN_NAME %}

        {% include "signin.html" %}

    {% elif Title == constance.SITE_SIGN_UP_NAME %}

        {% include "signup.html" %}

     {% elif Title == "404" %}

        {% include "404.html" %}

    {% elif Title == constance.SITE_SERVER_ADD_NAME %}

        {% include "add_server.html" %}

    {% elif Title == constance.SITE_BUY_PLACE_NAME %}

        {% include "buy_place.html" %}

    {% endif %}

    {% if Title != constance.SITE_BUY_PLACE_NAME %}
        <div class="top_servers top_servers_right">

            {% for server in premium_servers %}
              <div class="server">
                <div class="server_img"></div>
                <span class="server_name"><a href="">{{ server.name }}</a> <br> <span class="server_ip">{{server.ip}}:{{server.port}}</span></span>
              </div>
            {% endfor %}

    {#      <div class="server">#}
    {#        <div class="server_img"></div>#}
    {#        <span class="server_name"><a href="">Server top</a>: <span class="server_ip">12.345.43.123</span></span>#}
    {#      </div>#}
    {#      <div class="server">#}
    {#        <div class="server_img"></div>#}
    {#        <span class="server_name"><a href="">Server top</a>: <span class="server_ip">12.345.43.123</span></span>#}
    {#      </div>#}
    {#      <div class="server">#}
    {#        <div class="server_img"></div>#}
    {#        <span class="server_name"><a href="">Server top</a>: <span class="server_ip">12.345.43.123</span></span>#}
    {#      </div>#}

        </div>

    {% endif %}

    <footer>

    </footer>

  <script src="{% static "js/general.js" %}" type="text/javascript"></script>

  </body>
</html>
