<div class="main_block">

  <form class="login" method="post" action="{% url 'signin' %}">
    <h1>Войти</h1>
      {% csrf_token %}
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <a href="" class="forgot_password">Забыли пароль?</a>
    <input type="submit" value="Войти">
  </form>

</div>
