<div class="main_block">

{% if registered %}
<h1>Thank you for registering!</h1>
{% else %}
    
    <form enctype="multipart/form-data" method="POST" class="login">
      <h1>Регистрация</h1>
      {% csrf_token %}
      {% for field in user_form %}
          {{ field }}
      {% endfor %}
      <input type="submit" name="" value="Зарегистрироваться">
    </form>

{% endif %}

</div>